{% extends 'layout.html' %}

{% block content %}
    <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{ title }}</h3>
        <form method="POST" action="{{ handler_url }}">
             {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
            <div class="form-field">
                {{ form.username.label }} {{ form.username }}
                {% if form.username.errors or username_error_message is not none %}
                    <ul>
                        {% if username_error_message is not none %}
                            <li>
                                {{ username_error_message }}
                            </li>
                        {% endif %}
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">{{ form.password.label }} {{ form.password }}
                {% if form.password.errors or password_error_message is not none %}
                    <ul class="errors">
                        {% if password_error_message is not none %}
                            <li>
                                {{ password_error_message }}
                            </li>
                        {% endif %}
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}